@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Verdana", "ＭＳ Ｐゴシック", sans-serif; }

.sp {
  display: none; }

.header {
  min-width: 670px;
  padding-top: 20px; }
  .header .logo {
    margin: 10px; }
  .header .mobile-menu {
    display: none; }
  .header .mobile-menu, .header .pc-menu {
    margin-top: 20px;
    float: right; }
    .header .mobile-menu li, .header .pc-menu li {
      list-style: none;
      display: inline-block;
      margin-left: 15px; }
  .header .mobile-dropmenu {
    display: none;
    background-color: #ff6d77;
    color: white;
    padding: 15px; }
    .header .mobile-dropmenu li {
      text-align: left;
      margin: 0px;
      padding: 10px 10px;
      list-style: none;
      border-bottom: 1px solid white; }
    .header .mobile-dropmenu li.end {
      border-bottom: 0px; }

.footer {
  min-width: 670px;
  text-align: center; }
  .footer hr {
    color: #f9f8f6; }
  .footer .totop {
    text-align: right; }
  .footer ul {
    margin: 10px auto; }
    .footer ul li {
      font-size: 12px;
      list-style: none;
      display: inline-block; }
  .footer .copyright {
    font-size: 10px;
    color: #b8b4ac; }

.products-list ul {
  text-align: center; }
  .products-list ul li {
    margin: 3px;
    padding: 0px;
    box-sizing: border-box;
    width: 30%;
    list-style: none;
    display: inline-block; }
    .products-list ul li .product {
      background-color: white;
      padding: 10px 5px;
      text-align: center; }
      .products-list ul li .product a {
        text-decoration: none; }
      .products-list ul li .product img {
        width: 100%; }
      .products-list ul li .product .memo {
        margin: 10px;
        font-size: 12px;
        text-align: left;
        color: black; }
      .products-list ul li .product .price {
        margin: 10px;
        font-size: 12px;
        text-align: left; }

.page-navigation {
  margin-bottom: 20px; }
  .page-navigation .back, .page-navigation .next {
    font-size: 12px;
    color: white;
    padding: 13px 30px;
    background-color: #887f69;
    text-decoration: none;
    font-weight: bold;
    float: left; }
  .page-navigation .next {
    float: right; }

.shopguide {
  background-color: white;
  width: 48%;
  margin: 2px;
  padding: 15px;
  float: left;
  height: 240px;
  box-sizing: border-box; }
  .shopguide .title {
    font-size: 16px;
    color: #887f69;
    margin-bottom: 5px;
    font-weight: bold; }
  .shopguide .heading {
    color: #887f69;
    margin-bottom: 5px;
    font-size: 12px; }
  .shopguide .shopbody {
    margin-bottom: 5px;
    font-size: 12px; }
  .shopguide .card {
    width: 70%; }
  .shopguide .free {
    width: 60%; }

.itemtitle {
  width: 100%; }

.breadcrumb {
  background-color: #e8e4da;
  padding: 10px;
  margin-bottom: 10px; }
  .breadcrumb p {
    font-size: 11px;
    color: #887f69;
    margin: 0px; }

.category-image {
  width: 100%; }

.products-content .products-content-inner {
  background-color: white;
  padding: 30px 65px; }
  .products-content .products-content-inner .products-name {
    font-weight: bold;
    float: left;
    margin-bottom: 5px; }
  .products-content .products-content-inner .products-code {
    font-size: 9px;
    float: right;
    margin-bottom: 5px; }
  .products-content .products-content-inner hr {
    margin: 15px 0px;
    color: #887f69;
    background-color: #887f69; }
  .products-content .products-content-inner .thumbs {
    padding: 0px;
    margin: 0px;
    width: 170px;
    float: right;
    list-style: none; }
    .products-content .products-content-inner .thumbs li {
      padding: 0px;
      margin-right: 0px;
      margin-left: 8px;
      margin-bottom: 3px;
      float: left; }
      .products-content .products-content-inner .thumbs li img {
        width: 74px; }
  .products-content .products-content-inner .colorsize {
    width: 100%;
    background-color: #f9f9f5; }
    .products-content .products-content-inner .colorsize tr td {
      border: 1px solid #887f69;
      text-align: center;
      color: #887f69; }
      .products-content .products-content-inner .colorsize tr td input {
        margin: 0px; }
    .products-content .products-content-inner .colorsize tr .choice {
      background-color: white; }
  .products-content .products-content-inner .pricecart .price {
    float: left;
    border: 1px solid #887f69;
    border-width: 1px 0px 1px 0px;
    padding: 10px 0px; }
    .products-content .products-content-inner .pricecart .price img {
      margin-top: 13px;
      float: left; }
    .products-content .products-content-inner .pricecart .price p {
      margin: 0px;
      padding-left: 120px;
      font-style: italic;
      padding-right: 80px; }
      .products-content .products-content-inner .pricecart .price p span {
        font-size: 22px;
        color: #e80f66; }
  .products-content .products-content-inner .pricecart img {
    float: right; }
  .products-content .products-content-inner .quality {
    padding: 10px 0px;
    border: 1px solid #887f69;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 20px; }
    .products-content .products-content-inner .quality img {
      margin-top: 10px; }
    .products-content .products-content-inner .quality input {
      margin: 0px;
      margin-left: 50px; }
  .products-content .products-content-inner .products-memo .title {
    color: #887f69;
    padding: 0px 0px;
    margin: 0px; }
  .products-content .products-content-inner .products-memo .memo {
    margin-top: 10px; }

.sidebar .search {
  background-color: white;
  padding: 20px; }
  .sidebar .search input {
    background-color: #eeeeee;
    width: 100%;
    background-image: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: 90%;
    margin-bottom: 5px;
    border: 0px; }
  .sidebar .search p {
    column-rule: #887f69;
    font-weight: bold;
    margin-bottom: 5px; }
.sidebar ul li {
  list-style: none;
  margin: 0px;
  margin-bottom: 10px; }
  .sidebar ul li .title {
    font-size: 12px;
    color: white;
    padding: 13px;
    background-color: #887f69;
    font-weight: bold; }
  .sidebar ul li .humberger img {
    padding: 3px;
    float: right; }
  .sidebar ul li .sidetab {
    background-color: white;
    padding: 10px; }
    .sidebar ul li .sidetab .more {
      text-align: center; }
      .sidebar ul li .sidetab .more img {
        width: 60%; }
    .sidebar ul li .sidetab img.sidetabimage {
      width: 100%; }
  .sidebar ul li .categories {
    display: none; }
    .sidebar ul li .categories ul {
      margin: 0px;
      padding: 0px; }
      .sidebar ul li .categories ul li {
        background-color: white;
        margin: 0px;
        margin-bottom: 3px;
        padding: 10px; }
        .sidebar ul li .categories ul li a {
          text-decoration: none;
          color: black; }
        .sidebar ul li .categories ul li img {
          padding: 3px;
          float: right; }

.clear {
  clear: both; }

@media (max-width: 510px) {
  .sp {
    display: block; }

  .pc {
    display: none; }

  .container {
    padding: 0 10px; }

  .header, .footer, .maincontent, .top-content {
    min-width: 0px; }

  .header {
    text-align: center; }
    .header .pc-menu {
      display: none; }
    .header .mobile-menu {
      margin: 0px;
      display: block;
      float: none; }

  .top-content {
    width: 100%; }
    .top-content .owl-carousel {
      width: 100%; }

  .itemtitle {
    margin: 15px auto;
    width: auto; }

  .products-list ul li {
    width: 46%; }
    .products-list ul li .product img {
      width: 100%; }
    .products-list ul li .product .memo {
      margin: 3px; }
    .products-list ul li .product .price {
      margin: 3px; }

  .shopguide {
    width: 90%;
    margin: 0px;
    margin-bottom: 3px;
    float: none; }
    .shopguide img.card {
      width: 100%; }

  .sidebar {
    margin-top: 10px;
    min-width: 180px; }

  .sidetab img.sidetabimage {
    width: 45% !important;
    float: left; }
  .sidetab .memo {
    font-size: 12px;
    padding: 5px;
    padding-left: 48%;
    margin-bottom: 10px; }
  .sidetab .more {
    margin-top: 0px;
    margin-left: 40%; }

  .footer .totop {
    text-align: center; }

  .products-content .products-content-inner {
    padding: 15px 0px; }
    .products-content .products-content-inner .products-name {
      float: none;
      margin-bottom: 3px;
      margin: 10px; }
    .products-content .products-content-inner .products-code {
      float: none;
      margin: 10px; }
    .products-content .products-content-inner .main-img {
      width: 100%; }
    .products-content .products-content-inner .thumbs {
      background-color: red;
      padding: 0px;
      margin: 0px;
      width: 100%;
      float: none;
      list-style: none; }
      .products-content .products-content-inner .thumbs li {
        width: 18%;
        padding: 0px;
        margin: 2px;
        float: left; }
        .products-content .products-content-inner .thumbs li img {
          width: 100%; }
    .products-content .products-content-inner .pricecart .price {
      float: none; }
    .products-content .products-content-inner .pricecart img {
      float: none;
      margin-left: auto;
      margin-right: auto; }
    .products-content .products-content-inner .cart {
      padding-top: 10px;
      padding-bottom: 20px; }
      .products-content .products-content-inner .cart img {
        margin: auto; }

  .recent {
    margin: 10px auto;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
