@charset "utf-8";
html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 12) {
  font-size: $size+ px;
  font-size: ($size / $base) * 1rem;
}

$ja_font: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Verdana","ＭＳ Ｐゴシック",sans-serif;

$basecolor: #f9f8f6;
$subcolor: #887f69;


body{
    background-color:$basecolor;
    font-family: $ja_font;
}

.sp{
    display:none;
}

.header{
    padding-top:20px;
    .logo{
        margin:10px;
    }
    .mobile-menu{
        display:none;
    }
    .mobile-menu, .pc-menu{
        margin-top:20px;
        float:right;
        li{
          list-style: none;
          display: inline-block;
          margin-left:15px;
        }
    }

    .mobile-dropmenu{
        display:none;
        background-color:#ff6d77;
        color:white;
        padding:15px;
        li{
            text-align:left;
            margin:0px;
            padding: 10px 10px;
            list-style: none;
            border-bottom: 1px solid white;
        }
        li.end{
            border-bottom: 0px;
        }
    }
}

.footer{
    text-align:center;
    hr{
        color:$basecolor;
    }
    .totop{
        text-align:right;
    }
    ul{
        margin: 10px auto;
        li{
          font-size:12px;
          list-style: none;
          display: inline-block;
        }
    }
    .copyright{
        font-size:10px;
        color: #b8b4ac;
    }
}

.maincontent{
//    min-width:960px;
}

.products-list{
    ul{
        text-align: center;
        margin:0px;
        padding:0px;
        text-align: left;
        li{
            
            margin:0px;
            padding:0px;
            box-sizing: border-box;
            width:32%;
            list-style: none;
            display: inline-block;
            .product{
                margin:0px;
                width:100%;
//                width:98%;
                background-color:white;
                padding:10px 5px;
                text-align:center;
                a{
                    text-decoration:none;
                }
                img{
                    width:90%;
                    margin:0px;
                    padding:0px;
                }
                .memo{
                    margin:10px;
                    font-size:12px;
                    text-align:left;
                    color:black;
                }
                .price{
                    margin:10px;
                    font-size:12px;
                    text-align:left;
                }
            }
        }
    }    
}

.page-navigation{
    margin-bottom:20px;
    margin-top:20px;
    .back, .next{
        font-size:12px;
        color:white;
        padding:13px 30px;
        background-color:$subcolor;
        text-decoration:none;
        font-weight:bold;
        float:left;
    }
    
    .next{
        float:right;
    }
    
}

.shopguides{
    width:100%;
    margin:0px;
    padding:0px;
}

.shopguide{
    .title{
        font-size: 16px;
        color: $subcolor;
        margin-bottom:5px;
        font-weight:bold;
    }
    .heading{
        color: $subcolor;
        margin-bottom:5px;
        font-size:12px;
    }
    .shopbody{
        margin-bottom:5px;
        font-size:12px;
    }
    .card{
        width:70%;
    }
    .free{
        width:60%;
    }
    background-color:white;
    width:49%;
    margin:0px;
    padding:15px;
    float:left;
    height:240px;
    box-sizing: border-box;
}

.shopguide + .shopguide{
    margin-left:5px;
}

.recent{
    margin-top: 20px;
    margin-bottom:10px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}    


.top-content{
///    min-width:710px;
}

.itemtitle{
    width:100%;
    margin: 15px auto;
}

.breadcrumb{
    background-color: #e8e4da;
    padding:10px;
    p{
        font-size:11px;
        color: $subcolor;
        margin:0px;
    }
    margin-bottom:10px;
}

.category-image{
    width:100%;
}


.products-content{
    .products-content-inner{
        background-color:white;
        padding:30px 65px;
        .products-name{
            font-weight:bold;
            float:left;
            margin-bottom:5px;
        }
        .products-code{
            font-size:9px;
            float:right;
            margin-bottom:5px;
        }
        hr{
            margin:15px 0px;
            color: $subcolor;
            background-color: $subcolor;
        }
        .thumbs{
            padding:0px;
            margin:0px;
            width:170px;
            float:right;
            list-style: none;
//            display: inline-block;
            li{
                padding:0px;
                margin-right:0px;
                margin-left:8px;
                margin-bottom:3px;
                float:left;
                img{
                    width: 74px;
                }
            }
        }
        .colorsize{
            width:100%;

            background-color:#f9f9f5;
            tr{
                td{
                    border:1px solid $subcolor;                    
                    text-align:center;
                    color: $subcolor;
                    input{
                        margin:0px;
                    }
                }
                .choice{
                    background-color:white;
                }
                
            }
        }
        .pricecart{
            .price{
                float:left;
                border: 1px solid $subcolor;
                border-width: 1px 0px 1px 0px;
                padding:10px 0px;
                img{
                    margin-top:13px;
                    float:left;
                }
                p{
                    margin:0px;
                    padding-left: 120px;
                    font-style:italic;
                    span{
                        font-size: 22px;
                        color: #e80f66;
                    }
                    padding-right:80px;
                }
            }
            img{
                float:right;
            }
        }
        .quality{
            padding: 10px 0px;
            border: 1px solid $subcolor;
            border-width: 0px 0px 1px 0px;
            margin-bottom:20px;
            img{
                margin-top:10px;
            }
            input{
                margin:0px;
                margin-left:50px;
                
            }
        }
        .products-memo{
            .title{
                color: $subcolor;
                padding: 0px 0px;
                margin:0px;
            }
            .memo{
                margin-top:10px;
            }
        }
    }
}


.sidebar{
    .search{
        background-color:white;
        padding:20px;
        input{
            background-color: #eeeeee;
            width:100%;
            background-image: url("../images/top/search_icon.png");
            background-repeat: no-repeat;
            background-position: 90%;
            margin-bottom:5px;
            border:0px;
            
        }
        p{
            column-rule: $subcolor;
            font-weight:bold;
            margin-bottom:5px;
            
        }
    }
    ul{
        li{
            list-style: none;
            margin:0px;
            margin-bottom:10px;
            .title{
                font-size:12px;
                color:white;
                padding:13px;
                background-color: $subcolor;
                font-weight:bold;
            }
            .humberger{
                img{
                    padding:3px;
                    float:right;
                }                
            }
            .sidetab{
                background-color:white;
                padding:10px;
                .more{
                    text-align:center;
                    img{
                        width: 60%;
                    }
                }
                img.sidetabimage{
                    width: 100%;
                }
            }
            .categories{
                display:none;
                ul{
                    margin:0px;
                    padding:0px;
                    li{
                        background-color:white;
                        margin:0px;
                        margin-bottom:3px;
                        padding:10px;
//                      border-bottom:1px solid $subcolor;
                        a{
                            text-decoration:none;
                            color:black;
                        }
                        img{
                            padding:3px;
                            float:right;
                        }
                    }
                }
            }
        }
    }
}

.clear{
    clear:both;
}

@media (max-width: 1220px){

    .products-content{
        .sp{
            display:block;
        }
        .pc{
            display:none;
        }        
        width: 100% !important;
        .products-content-inner{
            padding:15px 0px;
            .products-name{
                float:none;
                margin-bottom:3px;
                margin:10px;
                
            }
            .products-code{
                float:none;
                margin:10px;
            }

            .main-img{
                width:100%;
            }
            .thumbs{
                background-color:red;
                padding:0px;
                margin:0px;
                width:100%;
                float:none;
                list-style: none;
    //            display: inline-block;
                li{
                    box-sizing: border-box;
                    width: 20%;
                    padding:2px;
                    margin:0px;
                    //margin:2px;
                    float:left;
                    img{
                        width: 100%;
                    }
                }
            }

            .pricecart{
                .price{
                    float:none;
                }
                img{
                    float:none;
                    margin-left:auto;
                    margin-right:auto;
                }
            }

            .cart{
                padding-top:10px;
                padding-bottom:20px;
                img{
                    margin:auto;
                }
            }            

        }

        .itemtitle{
            margin: 15px auto;
            width:auto;
        }

    }
    .sidebar-product{
        margin: 30px 0px 0px 0px !important;
        min-width:180px;

        width: 100% !important;
        box-sizing: border-box;
        
    }    
    
}

@media (max-width: 850px){
    .header{
        text-align:center;
        .logo{
        }
        .pc-menu{
            display:none;
        }
        .mobile-menu{
            margin:0px;
            display:block;
            float:none;
        }
    }

    .sidebar{
        margin: 30px 0px 0px 0px !important;
        min-width:180px;

        width: 100% !important;
        box-sizing: border-box;
        
    }
    .content, .top-content{
        width: 100% !important;
    }
    .sidetab{
        img.sidetabimage{
            width:45% !important;
            float:left;
        }
        .memo{
            font-size:12px;
            padding:5px;
            padding-left:48%;
            margin-bottom:10px;
        }
        .more{
            margin-top:0px;
            margin-left:40%;
        }
    }    

    .shopguide{
        img.card{
            width:100%;
        }
        width:100%;
        margin:0px;
        margin-bottom:3px;
        float:none;
    }
    .shopguide + .shopguide{
        margin-left:0px;
    }
    
}

@media (max-width: 550px) {
    .sp{
        display:block;
    }
    .pc{
        display:none;
    }
    .container{
        padding: 0 10px;
    }
    body{
//        background-color:red;
    }
    .header, .footer, .maincontent, .top-content {
        min-width:0px;
    }
    
    
    .top-content{
        width:100%;
        .owl-carousel{
            width:100%;
            img{
            }
        }

    }

    .itemtitle{
        margin: 15px auto;
        width:auto;
    }
    .products-list{
        ul{
            li{
                width:48%;
                .product{
                    img{
                        width:95%;
                    }
                    .memo{
                        margin:3px;

                    }
                    .price{
                        margin:3px;
                    }
                }
            }
        }    
    }

    
    .sidebar{
        margin-top:10px;
        min-width:180px;
    }
    .sidetab{
        img.sidetabimage{
            width:45% !important;
            float:left;
        }
        .memo{
            font-size:12px;
            padding:5px;
            padding-left:48%;
            margin-bottom:10px;
        }
        .more{
            margin-top:0px;
            margin-left:40%;
        }
    }
    .footer{
        .totop{
            text-align:center;
        }
    }
    


}